@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.heading-1 {
  font-size: 14rem;
  font-weight: 800;
  line-height: 11.3rem;
  color: #fffdf3;
}

.paragraph {
  color: #343637;
  font-size: 2.1rem;
  line-height: 1.6;
}

.text-link {
  color: #be252b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.1rem;
  text-decoration: none;
}

.quote__text {
  text-align: right;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: #343637;
}

.quote__quotee {
  text-align: right;
  font-size: 1.6rem;
  color: #839296;
}

.u-margin-top-medium {
  margin-top: 6rem;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh (minmax(min-content, 1fr))[4];
      grid-template-rows: 10vh repeat(4, minmax(-webkit-min-content, 1fr));
      grid-template-rows: 10vh repeat(4, minmax(min-content, 1fr));
  -ms-grid-columns: 1fr .5fr .5fr;
      grid-template-columns: 1fr .5fr .5fr;
  grid-column-gap: 3rem;
  background-image: url(../img/background-header.png);
  height: 74vh;
  position: relative;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url(../img/background-header@2x.png);
  }
}

.header__paragraph {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fffdf3;
  letter-spacing: -1px;
  line-height: 23px;
}

.header__seal {
  height: 32rem;
  width: 32rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.header__sub-text {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0px;
  font-style: italic;
  line-height: 2rem;
  font-weight: 300;
  color: #fffdf3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__notation {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #bababa;
}

.header__block {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  grid-column: 1 / -1;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
}

.header__cta, .header__title {
  padding: 2rem 6rem;
  color: #fffdf3;
  font-size: 2.1rem;
  line-height: 3.1rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.header__cta {
  background-color: #be252b;
}

.header__arrow {
  font-size: 2.6rem;
}

.header__title {
  background-color: #404750;
}

.header__heading-1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

.video {
  padding: 4rem 0;
  background-color: #343637;
  cursor: pointer;
}

.video__container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.video__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.video__overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1));
}

.video__icon {
  fill: #ffffff;
  height: 6rem;
  width: 6rem;
  margin-bottom: 2rem;
}

.video__play-text {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.video:hover .video__overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0));
}

.section-description {
  background-color: #fffdf3;
  padding: 12rem 14rem 10rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-quote-1 {
  padding: 0 14rem;
  background-color: #f0ede4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
}

.section-quote-1 .quote__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section-quote-1 .quote__quotee {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section-quote-1 .video {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1/-1;
}
/*# sourceMappingURL=main.css.map */