
// COLORS
$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark-1: #839296;
$color-grey-dark-2: #404750;
$color-grey-dark-3:#343637;

$color-beige-1: #fffdf3;
$color-beige-2: #f0ede4;
$color-beige-3: #bababa;

$color-red: #be252b;

// PADDING
$side-padding-big: 14rem;
$side-padding-medium: 4rem;

// BREAKPOINTS
$breakpoint-big: 68.75em; //1100px;
$breakpoint-900: 56.25em; //900px
$breakpoint-medium: 43.75em; //700px;
$breakpoint-small: 37.5em; //600px;
$breakpoint-tiny: 25em; // 400px;