
// COLORS
$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark-1: #839296;
$color-grey-dark-2: #404750;
$color-grey-dark-3:#343637;

$color-beige-1: #fffdf3;
$color-beige-2: #f0ede4;
$color-beige-3: #bababa;

$color-red: #be252b;

// PADDING
$side-padding-big: 14rem;