.article {
    display: grid;
    grid-template-columns: min-content;
    align-content: center;

    &__img {
        max-height: 32rem;    
        
        &--sepia {
            filter: sepia(.5);    
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-beige-2;
        margin-left: 1rem;
        transition: all .2s ease-out;
    }

    &__cta {    
        font-size: 2.1rem;
        text-transform: uppercase;
        color: $color-beige-2;
        font-weight: 700;
        padding: 2rem 3.5rem;
        background-color: $color-grey-dark-3;
        transform: translateY(-50%);
        justify-self: end;
        display: flex;
        align-items: center;

        cursor: pointer;

        &--down {
            transform: translateY(50%);
        }
        &--red {
            background-color: $color-red;
        }       
        &--left {
            justify-self: start;
        }        
    }

    &__cta:hover &__icon {
        transform: translateX(3px);
    }
}