body {
    font-family: 'Raleway', sans-serif;    
    color: $color-grey-dark-3;
}

.heading-1 {
    font-size: 14rem;
    font-weight: 800;
    line-height: 11.3rem;
    color: $color-beige-1;    
}

.heading-2 {
    font-size: 3.4rem;
    text-transform: uppercase;

    &__red {
        color: $color-red;
    }    
}

.paragraph {
    font-size: 2.1rem;
    line-height: 1.6;
}

.text-link {
    color: $color-red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.1rem;
    text-decoration: none;
}

.quote {    

    &__text {
        text-align: right;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -1px;
        color: $color-grey-dark-3;
    }
    &__quotee {
        text-align: right;
        font-size: 1.6rem;
        color: $color-grey-dark-1;
    }
}