.section-description {
    background-color: $color-beige-1;
    padding: 12rem 14rem 10rem 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}